table {
    width: 69%;
    border-collapse: collapse;
    margin-left: 330px;
    margin-top: 69px;
}
th, td {
    text-align: left;
    padding: 8px;
}

.hamburger-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000; 
    padding: 15px;
  }
  
.menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25px; 
    background-color: #333; 
  }
  
.menu div {
    width: 35px; 
    height: 5px; 
    background-color: white; 
    margin: 5px 0; 
    transition: all 0.3s ease; 
}
  
.dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    text-align: left;
    width: 100%;
}  

